*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}

*, html, body {
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto Light";
  font-weight: normal;
}

html, body {
  font-size: 36px;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label input, label select, label textarea {
  display: block;
  margin-top: 10px;
}

label + label {
  margin-top: 10px;
}
